/* Make top button bar sticky. */
#tl_buttons {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 0 1px #d0d0d280;
    z-index: 3;
}

/* Fix clashing background colors when an
info field is inside a serp preview */
.serp-preview:has(.tl_info) {
    background-color: #e9f0f7;
}
