/* Make top button bar sticky. */
#tl_buttons {
    position: sticky;
    top: 0;
    background-color: color-mix(in oklab, var(--content-bg), transparent 30%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 0 1px color-mix(in oklab, var(--content-border), transparent 50%);
    z-index: 3;
}

/* Fix clashing background colors when an
info field is inside a serp preview */
.serp-preview:has(.tl_info) {
    background-color: #e9f0f7;
}
